
*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main-header {
    width: 100%;
    background: #1063ff;
    color: #fff;
    height: 100px;
    display: flex;
}
.blue-border {
    height: 5px;
    background: #1063ff;
}
header, nav {
    flex: 1;
}
.nav-item {
    cursor: pointer;
}
ul {
    list-style-type: square;
    margin-left: 20px;
    font-size: 18px;
}
li .material-icons {
    font-size: 18px;
}

.main-body {
    margin-top: 20px;
    padding: 0 30px 0 30px;
    font-size: 16px;
}
input, select {
    font-size: 14px;
    line-height: 25px;
    margin: 3px 5px 3px 5px;
}
select {
    height: 25px;
    width: 125px;
}
.tune {
    /*padding-top: 10px;*/
}

.panel .check .material-icons {
    font-size: 46px;
}
.status {
    height: 100px;
    margin: 10px 0 10px 0;
}
.status .panel-heading {
    padding: 10px 10px 0 10px;
    height: 100px;
}
