.results ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

@media print {
    header, footer, nav, .jumbotron {
        display: none !important;
    }
    .report-container {
        width: 100% !important;
    }
}
